.search-container{
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.search-card{
    margin-top: 10vh;
    margin-left: 1.2vw;
    margin-bottom: 1.5vh;
}

.search-bar{
    margin-top: 5vh;
}

.btn{
    margin:10px;
}

span{color:orange;}